<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Educativo Certus</title>
</head>
<body>
    <h1 style="color: blueviolet;">Bienvenido al Sistema</h1>
</body>
<script>alert("Bienvenido :3")</script>
</html>